.container { 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    margin: 0 auto;
}

.header { 
    display: block;
    font-size: 5.7vw;
    color: blue;
}

.sub-header { 
    font-size: 3vw;
    color: blue;
    margin: 0 auto;
}